* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    position: relative; /*from body*/
    display: flex; /*make whole div center by using justify align center */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container:after {
    content: '';
    background: url("/slowboy+cashmere.jpeg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(50px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    /*justify-content: center;
    align-items: center;*/
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;}

.left {
    height: 100%;
    background: url(./slowboy+cashmere.jpeg) no-repeat center;
    background-size: cover;
}

.right {
    padding:25px 40px;
}

h2 {
    position:relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after {
    content:'';
    background-color: rgba(228, 188, 176, 0.938);
    height: 6px;
    width: 50px;
    position:absolute;
    bottom:0;
    left:50%;
    border-radius: 2px;
    transform: translateX(-50%);

}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline:none;
    border:2px solid rgba(0, 0, 0,0);
    background-color:rgba(230,230,230,0.6);
    margin-bottom: 1.2rem;
    transition: .3222s;
}

.field:hover {
   background-color:rgba(0,0,0,0.1);

}

.field:focus {
    background-color: #fff;
    border:2px solid black;

}

.area {
    min-height: 200px;
}

.btn {
    width:100%;
    padding:0.5rem 1rem;
    cursor:pointer;
   outline:none;
   border:none;
   background-color: rgb(228, 188, 176, 0.938);
   transition: .3s;
}
.btn:hover {
    background-color: rgba(252, 167, 141, 0.938);
}

@media screen and (max-width: 880px){
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 250px;
    }
};
    
